<header>
  <nav
    class="navbar navbar-expand-lg fixed-top my-0 navbar-light bg-transparent"
  >
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#collapse-target"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="collapse-target"
    >
      <h3>Oana Bolog Bleich Phd</h3>
      <ul class="nav navbar-nav text-center mr-5 header-list">
        <li class="nav-item text-nowrap m-3 bg-white active">
          <a class="nav-link p-1" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle m-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Paintings</a>
            <div class="dropdown-menu">
                {% for album in albums %}
                <a class="dropdown-item" href='/pictures?album={{ album }}'>{{ album }}</a>
                {% endfor %}
            </div>
          </li>       
      </ul>
    </div>
  </nav>
</header>
