{% extends './layout.html' %}

{% block body %}
<script>
    console.log("index params=", '{{ title | dump | safe }}')
</script>
<div class="row">
    <div class="col-md-12">
        {% block content %}
        <h1>Page: {{ title }}</h1>
        <h3>Port: {{ sub }}</h3>
        <br>
        <p>Looks like we're up and running!</p>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper velit sed elit interdum, ut
            rhoncus orci lacinia. Pellentesque vel consectetur felis. Donec porttitor vitae risus ut suscipit. Ut sed
            lectus ut sem molestie condimentum non non dolor. Nullam eu sollicitudin leo, non congue turpis.
            Pellentesque ultrices justo eget interdum gravida. Fusce malesuada est id neque pellentesque volutpat. Donec
            placerat dictum diam, at sagittis tortor pharetra ut. Ut leo dolor, imperdiet id fermentum in, iaculis eget
            dolor.

            Pellentesque eget semper lorem. Nam pulvinar elementum fringilla. Maecenas rutrum orci mauris, ac volutpat
            orci congue vitae. Nunc tincidunt dictum cursus. Sed ac ante at dolor feugiat rutrum dapibus sit amet est.
            Sed vitae sem tellus. Cras lacus odio, lacinia et mauris in, condimentum consequat ipsum. Etiam felis orci,
            porta sit amet ornare at, ultrices ac tortor. Sed euismod lacus nec iaculis finibus. Donec euismod gravida
            leo non scelerisque. Mauris ultricies ultrices est, eget laoreet diam porttitor vitae. Aliquam ex orci,
            ultrices ut ultricies et, dictum sit amet ante.

            Sed vitae arcu a augue lobortis porttitor. Fusce fermentum enim in faucibus mollis. Nullam eget iaculis
            diam, et dapibus nunc. Nam massa velit, auctor vel nisi et, mattis faucibus est. Integer in odio sed mauris
            sodales pellentesque. Nulla auctor, velit non sagittis scelerisque, magna metus vulputate augue, eu posuere
            nulla felis sed orci. Phasellus convallis congue congue. Fusce vulputate ultrices augue id blandit. In lorem
            erat, maximus vitae consectetur a, consequat ut tellus. Nam erat nibh, ullamcorper sed quam accumsan,
            lacinia interdum lectus. Curabitur iaculis pulvinar dolor id finibus. Morbi eget nisi metus. Duis semper
            fermentum hendrerit. Etiam arcu elit, vestibulum id volutpat sed, aliquet quis elit. Nullam hendrerit non
            velit sed blandit. Ut euismod pulvinar urna, a molestie justo imperdiet sed.

            Etiam porta ante sed sapien vestibulum congue. Mauris accumsan sem elit, ac consectetur eros volutpat ut.
            Praesent in massa velit. Cras elementum quam eu nibh lacinia, ut convallis tortor dapibus. Phasellus egestas
            et mauris vitae hendrerit. Fusce aliquet mollis aliquam. Curabitur nec magna eget ex malesuada sodales ut at
            sem.

            Donec eget est neque. Cras commodo finibus purus sit amet volutpat. Mauris vel sem ullamcorper, gravida
            felis a, accumsan lectus. Proin sodales mollis odio, vitae bibendum justo aliquam at. Sed nunc felis,
            tincidunt vel consequat eu, auctor eu odio. Praesent tellus sapien, vestibulum id placerat non, malesuada id
            turpis. Integer fringilla nec lectus in venenatis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper velit sed elit interdum, ut
            rhoncus orci lacinia. Pellentesque vel consectetur felis. Donec porttitor vitae risus ut suscipit. Ut sed
            lectus ut sem molestie condimentum non non dolor. Nullam eu sollicitudin leo, non congue turpis.
            Pellentesque ultrices justo eget interdum gravida. Fusce malesuada est id neque pellentesque volutpat. Donec
            placerat dictum diam, at sagittis tortor pharetra ut. Ut leo dolor, imperdiet id fermentum in, iaculis eget
            dolor.

            Pellentesque eget semper lorem. Nam pulvinar elementum fringilla. Maecenas rutrum orci mauris, ac volutpat
            orci congue vitae. Nunc tincidunt dictum cursus. Sed ac ante at dolor feugiat rutrum dapibus sit amet est.
            Sed vitae sem tellus. Cras lacus odio, lacinia et mauris in, condimentum consequat ipsum. Etiam felis orci,
            porta sit amet ornare at, ultrices ac tortor. Sed euismod lacus nec iaculis finibus. Donec euismod gravida
            leo non scelerisque. Mauris ultricies ultrices est, eget laoreet diam porttitor vitae. Aliquam ex orci,
            ultrices ut ultricies et, dictum sit amet ante.

            Sed vitae arcu a augue lobortis porttitor. Fusce fermentum enim in faucibus mollis. Nullam eget iaculis
            diam, et dapibus nunc. Nam massa velit, auctor vel nisi et, mattis faucibus est. Integer in odio sed mauris
            sodales pellentesque. Nulla auctor, velit non sagittis scelerisque, magna metus vulputate augue, eu posuere
            nulla felis sed orci. Phasellus convallis congue congue. Fusce vulputate ultrices augue id blandit. In lorem
            erat, maximus vitae consectetur a, consequat ut tellus. Nam erat nibh, ullamcorper sed quam accumsan,
            lacinia interdum lectus. Curabitur iaculis pulvinar dolor id finibus. Morbi eget nisi metus. Duis semper
            fermentum hendrerit. Etiam arcu elit, vestibulum id volutpat sed, aliquet quis elit. Nullam hendrerit non
            velit sed blandit. Ut euismod pulvinar urna, a molestie justo imperdiet sed.

            Etiam porta ante sed sapien vestibulum congue. Mauris accumsan sem elit, ac consectetur eros volutpat ut.
            Praesent in massa velit. Cras elementum quam eu nibh lacinia, ut convallis tortor dapibus. Phasellus egestas
            et mauris vitae hendrerit. Fusce aliquet mollis aliquam. Curabitur nec magna eget ex malesuada sodales ut at
            sem.

            Donec eget est neque. Cras commodo finibus purus sit amet volutpat. Mauris vel sem ullamcorper, gravida
            felis a, accumsan lectus. Proin sodales mollis odio, vitae bibendum justo aliquam at. Sed nunc felis,
            tincidunt vel consequat eu, auctor eu odio. Praesent tellus sapien, vestibulum id placerat non, malesuada id
            turpis. Integer fringilla nec lectus in venenatis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper velit sed elit interdum, ut
            rhoncus orci lacinia. Pellentesque vel consectetur felis. Donec porttitor vitae risus ut suscipit. Ut sed
            lectus ut sem molestie condimentum non non dolor. Nullam eu sollicitudin leo, non congue turpis.
            Pellentesque ultrices justo eget interdum gravida. Fusce malesuada est id neque pellentesque volutpat. Donec
            placerat dictum diam, at sagittis tortor pharetra ut. Ut leo dolor, imperdiet id fermentum in, iaculis eget
            dolor.

            Pellentesque eget semper lorem. Nam pulvinar elementum fringilla. Maecenas rutrum orci mauris, ac volutpat
            orci congue vitae. Nunc tincidunt dictum cursus. Sed ac ante at dolor feugiat rutrum dapibus sit amet est.
            Sed vitae sem tellus. Cras lacus odio, lacinia et mauris in, condimentum consequat ipsum. Etiam felis orci,
            porta sit amet ornare at, ultrices ac tortor. Sed euismod lacus nec iaculis finibus. Donec euismod gravida
            leo non scelerisque. Mauris ultricies ultrices est, eget laoreet diam porttitor vitae. Aliquam ex orci,
            ultrices ut ultricies et, dictum sit amet ante.

            Sed vitae arcu a augue lobortis porttitor. Fusce fermentum enim in faucibus mollis. Nullam eget iaculis
            diam, et dapibus nunc. Nam massa velit, auctor vel nisi et, mattis faucibus est. Integer in odio sed mauris
            sodales pellentesque. Nulla auctor, velit non sagittis scelerisque, magna metus vulputate augue, eu posuere
            nulla felis sed orci. Phasellus convallis congue congue. Fusce vulputate ultrices augue id blandit. In lorem
            erat, maximus vitae consectetur a, consequat ut tellus. Nam erat nibh, ullamcorper sed quam accumsan,
            lacinia interdum lectus. Curabitur iaculis pulvinar dolor id finibus. Morbi eget nisi metus. Duis semper
            fermentum hendrerit. Etiam arcu elit, vestibulum id volutpat sed, aliquet quis elit. Nullam hendrerit non
            velit sed blandit. Ut euismod pulvinar urna, a molestie justo imperdiet sed.

            Etiam porta ante sed sapien vestibulum congue. Mauris accumsan sem elit, ac consectetur eros volutpat ut.
            Praesent in massa velit. Cras elementum quam eu nibh lacinia, ut convallis tortor dapibus. Phasellus egestas
            et mauris vitae hendrerit. Fusce aliquet mollis aliquam. Curabitur nec magna eget ex malesuada sodales ut at
            sem.

            Donec eget est neque. Cras commodo finibus purus sit amet volutpat. Mauris vel sem ullamcorper, gravida
            felis a, accumsan lectus. Proin sodales mollis odio, vitae bibendum justo aliquam at. Sed nunc felis,
            tincidunt vel consequat eu, auctor eu odio. Praesent tellus sapien, vestibulum id placerat non, malesuada id
            turpis. Integer fringilla nec lectus in venenatis.
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}