{% extends './layout.html' %}

{% block body %}
{% block content %}
<script>
    console.log("index-albums", '{{ albums | dump | safe }}')
    console.log("index-pictures", '{{ pictures | dump | safe }}')
</script>
<div class="container-fluid text-center bg-light p-1">
    <img src="images/home_img.jpg" class="img-fluid" alt="Responsive image"/>
    <img src="images/homePainting.jpg" class="img-fluid" alt="Responsive image"/>
    <img src="images/homePainting5.jpg" class="img-fluid" alt="Responsive image"/>
    <img src="images/homePainting2.jpg" class="img-fluid" alt="Responsive image"/>
    <img src="images/homePainting3.jpg" class="img-fluid" alt="Responsive image"/>
    <img src="images/homePainting4.jpg" class="img-fluid" alt="Responsive image"/>

</div>

{% endblock %}

{% endblock %}