@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
    display: flex;
    flex-direction: column;
    background: #e9ecef;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-family: 'Prompt', sans-serif;
    height: 100%;
    min-height: 100vh;
}

header {
    flex: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999!important;
    background-color: #e9ecef;
}

main {
    display: flex;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    margin-bottom: 4rem;
    margin-top: 7rem;
    background-color: #e9ecef;
}

footer {
    bottom: 0;
    width: 100%;
    flex: none;
}

img {
    box-shadow: 2px 3px 16px 6px;
    margin: 1rem;
}