@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
    background: #e9ecef;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-family: 'Prompt', sans-serif;
}

img {
    max-width: 700px;
    max-height: 700px;
}